<ion-header>
    <ion-toolbar>
      <ion-title>
          <ion-icon [routerLink]="'/tabs/tab1/'" name="arrow-back">
          </ion-icon>
        Costumize
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    

<ion-list>

    <ion-item>
        <ion-label>
          <p>Select Warteg </p>
          <P>in your area</P>
        </ion-label>
        <ion-select>
          <ion-select-option value="Keputih">Keputih</ion-select-option>
          <ion-select-option value="Gebang">Gebang</ion-select-option>
        </ion-select>
      </ion-item>

  <ion-radio-group>
    <ion-list-header>
      <ion-label>Rice</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>Small</ion-label>
      <ion-radio slot="start" value="biff" checked></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Medium</ion-label>
      <ion-radio slot="start" value="griff"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Grande</ion-label>
      <ion-radio slot="start" value="buford"></ion-radio>
    </ion-item>

    <ion-item>
        <ion-label>None</ion-label>
        <ion-radio slot="start" value="buford"></ion-radio>
      </ion-item>
  </ion-radio-group>

  <ion-radio-group>
      <ion-list-header>
        <ion-label>Sayur</ion-label>
      </ion-list-header>
  
      <ion-item>
        <ion-label>Capcay</ion-label>
        <ion-radio slot="start" value="biff" checked></ion-radio>
      </ion-item>
  
      <ion-item>
        <ion-label>Lodeh</ion-label>
        <ion-radio slot="start" value="griff"></ion-radio>
      </ion-item>
  
      <ion-item>
        <ion-label>Pecel</ion-label>
        <ion-radio slot="start" value="buford"></ion-radio>
      </ion-item>

      <ion-item>
          <ion-label>Campur</ion-label>
          <ion-radio slot="start" value="buford"></ion-radio>
        </ion-item>

      <ion-item>
            <ion-label>Sayur Asem</ion-label>
            <ion-radio slot="start" value="buford"></ion-radio>
      </ion-item>  

      <ion-item>
          <ion-label>None</ion-label>
          <ion-radio slot="start" value="buford"></ion-radio>
        </ion-item>
    </ion-radio-group>

    <ion-radio-group>
        <ion-list-header>
          <ion-label>Lauk</ion-label>
        </ion-list-header>
    
        <ion-item>
          <ion-label>Telor</ion-label>
          <ion-radio slot="start" value="biff" checked></ion-radio>
        </ion-item>
    
        <ion-item>
          <ion-label>Ayam</ion-label>
          <ion-radio slot="start" value="griff"></ion-radio>
        </ion-item>
    
        <ion-item>
          <ion-label>Banteng</ion-label>
          <ion-radio slot="start" value="buford"></ion-radio>
        </ion-item>

        <ion-item>
            <ion-label>None</ion-label>
            <ion-radio slot="start" value="buford"></ion-radio>
          </ion-item>
      </ion-radio-group>

        <ion-radio-group>
    <ion-list-header>
      <ion-label>Extendable Lauk</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>Tempe</ion-label>
      <ion-radio slot="start" value="biff" checked></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Tahu</ion-label>
      <ion-radio slot="start" value="griff"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Terong</ion-label>
      <ion-radio slot="start" value="buford"></ion-radio>
    </ion-item>

    <ion-item>
        <ion-label>Jamur</ion-label>
        <ion-radio slot="start" value="buford"></ion-radio>
      </ion-item>

      <ion-item>
          <ion-label>None</ion-label>
          <ion-radio slot="start" value="buford"></ion-radio>
        </ion-item>
  </ion-radio-group>

  <ion-radio-group>
    <ion-list-header>
      <ion-label>Drink</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>Ice Tea</ion-label>
      <ion-radio slot="start" value="biff" checked></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Orange Water</ion-label>
      <ion-radio slot="start" value="griff"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Es Sirop</ion-label>
      <ion-radio slot="start" value="buford"></ion-radio>
    </ion-item>

    <ion-item>
        <ion-label>Mineral Water</ion-label>
        <ion-radio slot="start" value="buford"></ion-radio>
      </ion-item>

      <ion-item>
          <ion-label>None</ion-label>
          <ion-radio slot="start" value="buford"></ion-radio>
        </ion-item>
  </ion-radio-group>
</ion-list>

<ion-button shape="round" expand="full">GASSKEUN</ion-button>


  </ion-content>