<ion-header>
    <ion-toolbar>
      <ion-title>
          <ion-icon [routerLink]="'/tabs/tab1/'" name="arrow-back">
          </ion-icon>
        Costumize
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    

<ion-list>

    <ion-item>
        <ion-label>
          <p>Select Warteg </p>
          <P>in your area</P>
        </ion-label>
        <ion-select>
          <ion-select-option value="Keputih">Keputih</ion-select-option>
          <ion-select-option value="Gebang">Gebang</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>
          <p>Rice </p>
        </ion-label>
        <ion-select [(ngModel)]="rice" >
          <ion-select-option value="Small">Small</ion-select-option>
          <ion-select-option value="Medium">Medium</ion-select-option>
          <ion-select-option value="Grande">Grande</ion-select-option>
          <ion-select-option value="None">None</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>
          <p>Sayur </p>
        </ion-label>
        <ion-select>
          <ion-select-option value="Capcay">Capcay</ion-select-option>
          <ion-select-option value="Lodeh">Lodeh</ion-select-option>
          <ion-select-option value="Pecel">Pecel</ion-select-option>
          <ion-select-option value="Campur">Campur</ion-select-option>
          <ion-select-option value="Toge">Toge</ion-select-option>
          <ion-select-option value="None">None</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>
          <p>Lauk </p>
        </ion-label>
        <ion-select>
          <ion-select-option value="Telor">Telor</ion-select-option>
          <ion-select-option value="Ayam">Ayam</ion-select-option>
          <ion-select-option value="Bandeng">Banteng</ion-select-option>
          <ion-select-option value="Cumi">Cumi</ion-select-option>
          <ion-select-option value="None">None</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>
          <p>Extendable Lauk </p>
        </ion-label>
        <ion-select>
          <ion-select-option value="Tempe">Tempe</ion-select-option>
          <ion-select-option value="Tahu">Tahu</ion-select-option>
          <ion-select-option value="Terong">Terong</ion-select-option>
          <ion-select-option value="Jamur">Jamur</ion-select-option>
          <ion-select-option value="None">None</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>
          <p>Drink </p>
        </ion-label>
        <ion-select>
          <ion-select-option value="Ice Tea">Ice Tea</ion-select-option>
          <ion-select-option value="Orange Ice">Orange Ice</ion-select-option>
          <ion-select-option value="Es Sirop">Es Sirop</ion-select-option>
          <ion-select-option value="Mineral Water">Mineral Water</ion-select-option>
          <ion-select-option value="None">None</ion-select-option>
        </ion-select>
      </ion-item>
  

  
</ion-list>


<ion-button shape="round" expand="full" [routerLink]="'tabs/tab1/costumize/gaskan'">GASSKEUN</ion-button>


  </ion-content>