<ion-header>
  <ion-toolbar>
    <ion-title>
      Account
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-avatar slot="start">
            <ion-icon name="person" size="large"></ion-icon>
        </ion-avatar>
        <ion-label>
            <h3>User</h3>
            <p>+628000000</p>
            <p>user@gmail.com</p>
        </ion-label>
        
      </ion-item>
    
    <ion-item>
        <ion-label>
          <p>Connect to your  </p>
          <p>facebook account</p>
        </ion-label>
        <ion-button shape="round" expand="full"><ion-icon name="logo-facebook"></ion-icon>Facebook</ion-button>
    </ion-item>

    <ion-item>
        <ion-label>
          <p>Connect to your  </p>
          <p>Whatsapp account</p>
        </ion-label>
        <ion-button color="success" shape="round" expand="full"><ion-icon name="logo-whatsapp"></ion-icon>Whatsapp</ion-button>
    </ion-item>
    
</ion-content>
