<ion-header>
    <ion-toolbar>
      <ion-title>
          <ion-icon [routerLink]="'/tabs/tab1'" name="arrow-back">
          </ion-icon>
        Party Order
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/party.jpg" alt="" />
      <ion-card-header>
        <ion-card-title>NASI KOTAK 25 PORSI</ion-card-title>
        <ion-card-subtitle>Cocok untuk hajatan kecil2an</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>Nasi + Sayur + Lauk Pilihan</p>
        <p>Sebanyak 25 Porsi</p>
      </ion-card-content>
    </ion-card>

    <ion-card class="welcome-card">
        <img src="/assets/party.jpg" alt="" />
        <ion-card-header>
          <ion-card-title>NASI KOTAK 50 PORSI</ion-card-title>
          <ion-card-subtitle>Cocok untuk hajatan sekomplek</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <p>Nasi + Sayur + Lauk Pilihan</p>
          <p>Sebanyak 50 Porsi</p>
        </ion-card-content>
      </ion-card>

      <ion-card class="welcome-card">
          <img src="/assets/party.jpg" alt="" />
          <ion-card-header>
            <ion-card-title>NASI KOTAK 100 PORSI</ion-card-title>
            <ion-card-subtitle>Cocok untuk nikahan</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p>Nasi + Sayur + Lauk Pilihan</p>
            <p>Sebanyak 100 Porsi</p>
          </ion-card-content>
        </ion-card>
    <ion-content>